{% include "scripts.html" %} {% include "head.html" %} {% load compress %} {% load staticfiles %} {% compress css %}
<link rel="stylesheet" type="text/scss" href="{% static 'styles.scss' %}" />
<link rel="stylesheet" type="text/scss" href="{% static 'list.scss' %}" /> {% endcompress %}

<div class="nav_wrap">
    {% include "nav.html" %}
</div>
<div class='list_container'>

    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>{% endif %}


    <h2>Case Studies</h2>
    <div class='object_list'>

        <ul>

            {% for casestudie in object_list %}
            <div class="object_box">
                <a href="{% url 'polls:case_detail' casestudie.slug %}">
                    <li>
                        <p>{{ casestudie.project_name }}</p>
                    </li>
                    <img src='{{ casestudie.image_1 }}'>
                </a>
            </div>{% endfor %}

        </ul>
    </div>
</div>

{% include "footer.html" %}
