{% include "scripts.html" %} {% include "head.html" %} {% load compress %} {% load staticfiles %} {% compress css %}
<link rel="stylesheet" type="text/scss" href="{% static 'styles.scss' %}" />
<link rel="stylesheet" type="text/scss" href="{% static 'list.scss' %}" /> {% endcompress %}

<div class="nav_wrap">
    {% include "nav.html" %}
</div>
<div class='list_container'>
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>{% endif %} {% with true="True" false="False" %} {% endwith %}

    <h2>{% ifequal request.get_full_path "/polls/products/indoor/" %}Indoor
      {% else %}
      {% endifequal %}
      {% ifequal request.get_full_path "/polls/products/outdoor/" %}Outdoor
      {% else %}
      {% endifequal %}Products</h2>
    <div class='object_list clearfix'>

        <ul>

            {% for product in object_list %}
            <div class="object_box">
                <a href="{% url 'polls:product_detail' product.slug %}">
                    <li>
                        <p>{{ product.product_name }}</p>
                    </li>
                    <img src='{{ product.image_1 }}'></a>
            </div>{% endfor %}

        </ul>
    </div>
</div>

{% include "footer.html" %}
