$black: #000;
$white: #fff;

$yellow: #FBCD38; // yellow
$yellowLight: #FFE592; // light yellow
$yellowDark: #826D28; // brown dark yellow

$gray: #979797;
$grayLight: #979797;
// nav colors
$grayDark: #2C2C2C;

$dark: #1E1E1E;
$darkLight: #565656;

// viewports

$mobile_s: 320px;
$mobile_m: 480px;
$mobile_l: 667px;

$tablet_s: 768px;
$tablet_sm: 900px;
$tablet_m: 1024px;
$tablet_l: 1280px;

$laptop_s: 1400px;
$laptop_m: 1800px;
$laptop_l: 2200px;

// fonts

$font: 'Lato', sans-serif; //body font
$w_light: 300;
$w_regular: 400;
$w_bold: 700;

$fontnav: 'Lato', sans-serif; // caps

// font sizes

$h1: 45px;
$h2: 35px;
$h3: 25px;
$h4: 20px;
$p: 20px;
$subtext: 15px;
$subsubtext: 10px;
